<div class="row">
    <div class="col-6 offset-3 mt-5">
        <!-- SIGN IN FORM -->
        <form *ngIf="sign_in">
            <h3 class="border-bottom">Sign In</h3>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Enter password">
            </div> 
            
            <button type="submit" class="btn btn-primary">Sign In</button>

            <p class="mt-3">Don't have an account? <a href="" (click)="sign_in = false">Register</a></p>
        </form>

        <!-- REGISTRATION FORM -->
        <form *ngIf="!sign_in">
                <h3>Register</h3>
                <div class="form-group">
                    <label for="firstname">First Name</label>
                    <input type="text" class="form-control" id="firstname" placeholder="Enter firstname">
                </div>
                <div class="form-group">
                    <label for="middlename">Middle Name</label>
                    <input type="text" class="form-control" id="middlename" placeholder="Enter middlename">
                </div>
                <div class="form-group">
                    <label for="lastname">Last Name</label>
                    <input type="text" class="form-control" id="lastname" placeholder="Enter lastname">
                </div>
                <div class="form-group">
                    <label for="lastname">Last Name</label>
                    <input type="text" class="form-control" id="lastname" placeholder="Enter lastname">
                </div>
                <div class="form-group form-check">
                    <input type="radio" class="form-check-input" name="gender" value="male" id="gender">
                    <label for="genger" class="form-check-label">Male</label>
                    <input type="radio" class="form-check-input" name="gender" value="female" id="gender">
                    <label for="genger" class="form-check-label">Female</label>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter username">
                </div>
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter password">
                </div> 
                <button type="submit" class="btn btn-primary">Register</button>

            <p class="mt-3">Don't have an account? <a href="" (click)="sign_in = false">Register</a></p>
                
        </form>
    </div>
</div>