<div class="row">
  <div class="col-sm-6 offset-3">
    <h3 class="text-center">Create Post</h3>
    <div class="progress mb-3" style="height: 20px;">
      <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{width: getWidth()}"></div>
    </div>

    <!-- FIRST PAGE -->
    <div class="card" *ngIf="page==1">
        <div class="card-header text-center text-primary"><h4>Select Gender</h4></div>
        <div class="card-body text-center">
          <div class="d-flex">
              <div class="cursor-pointer m-2 p-5 bg-primary text-center" 
                  *ngFor="let g of allGenders"
                  (click)="genderSelected(g)">
                  <i class="fa fa-male" style="font-size: 60px;"></i>
                  <p>{{ g.name }}</p>
              </div>
              <!-- <div class="cursor-pointer m-2 p-5 bg-primary">
                  <i class="fa fa-female" style="font-size: 60px;"></i>
                  <p>Female</p>
              </div>
              <div class="cursor-pointer m-2 p-5 bg-primary">
                  <i class="fa fa-child" style="font-size: 60px;"></i>
                  <p>Child</p>
              </div> -->
          </div>
          <div class="mt-2">
            <button class="btn btn-sm btn-primary float-right" (click)="nextPage()"> Next >> </button>
          </div>
        </div>
    </div>

    <!-- SECOND PAGE -->
    <div class="card" *ngIf="page==2">
        <div class="card-header text-center text-primary"><h4>Select Color</h4></div>
        <div class="card-body text-center">
          <div class="d-flex">
              <div class="cursor-pointer m-2 p-5 text-center" style="background-color: yellow;">
                <i class="fa fa-user" style="font-size: 60px;"></i>
                <p>Fair</p>
              </div>
              <div class="cursor-pointer m-2 p-5" style="background-color: #aaa;">
                  <i class="fa fa-user" style="font-size: 60px;"></i>
                  <p>Dark</p>
              </div>
              <div class="cursor-pointer m-2 p-5" style="background-color: brown;">
                  <i class="fa fa-user" style="font-size: 60px;"></i>
                  <p>Chocolate</p>
              </div>
          </div>
          <div class="mt-2">
            <button class="btn btn-sm btn-primary float-left" (click)="previousPage()"> << Back </button>
            <button class="btn btn-sm btn-primary float-right" (click)="nextPage()"> Next >> </button>
          </div>
        </div>
    </div>

    <!-- THIRD PAGE -->
    <div class="card" *ngIf="page==3">
        <div class="card-header text-center text-primary"><h4>Select Product Type</h4></div>
        <div class="card-body text-center">
          <div class="d-flex">
              <div class="cursor-pointer m-2 p-5 text-center" style="background-color: #bbb;">
                <i class="fa fa-circle" style="font-size: 60px;"></i>
                <p>Creams</p>
              </div>
              <div class="cursor-pointer m-2 p-5" style="background-color: #bbb;">
                  <i class="fa fa-square" style="font-size: 60px;"></i>
                  <p>Soaps</p>
              </div>
              <div class="cursor-pointer m-2 p-5" style="background-color: #bbb;">
                  <i class="fa fa-circle" style="font-size: 60px;"></i>
                  <p>Perfumes</p>
              </div>
          </div>
          <div class="mt-2">
            <button class="btn btn-sm btn-primary float-left" (click)="previousPage()"> << Back </button>
            <button class="btn btn-sm btn-primary float-right" (click)="nextPage()"> Next >> </button>
          </div>
        </div>
    </div>

    <!-- FOURTH PAGE -->
    <div class="card" *ngIf="page==4">
        <div class="card-header text-center text-primary"><h4>Select Product List Type</h4></div>
        <div class="card-body text-center">
          <div class="d-flex">
              <div class="cursor-pointer m-2 p-5 text-center" style="background-color: red;">
                <i class="fa fa-square" style="font-size: 60px;"></i>
                <p>Lotions</p>
              </div>
              <div class="cursor-pointer m-2 p-5" style="background-color: green;">
                  <i class="fa fa-square" style="font-size: 60px;"></i>
                  <p>Lightening Creams</p>
              </div>
              <div class="cursor-pointer m-2 p-5" style="background-color: yellow;">
                  <i class="fa fa-circle" style="font-size: 60px;"></i>
                  <p>Herbal Creams</p>
              </div>
          </div>
          <div class="mt-2">
            <button class="btn btn-sm btn-primary float-left" (click)="previousPage()"> << Back </button>
            <button class="btn btn-sm btn-primary float-right" (click)="nextPage()"> Next >> </button>
          </div>
        </div>
    </div>

    <!-- FIFTH PAGE -->
    <div class="card" *ngIf="page==5">
      <div class="card-header text-center text-primary">
        <h4>Enter Post Details</h4>
      </div>
      <div class="card-body text-center">
        <form>
            <div class="form-group">
              <label for="title">Title of Post</label>
              <input type="text" class="form-control" id="title" placeholder="Enter Title...">
            </div>

            <div class="form-group">
              <label for="body">Body of Post</label>
              <textarea class="form-control" name="body" id="body" rows="5" placeholder="Enter Body..."></textarea>
            </div>
        </form>

        <div class="mt-2">
          <button class="btn btn-sm btn-primary float-left" (click)="previousPage()"> << Back </button>
          <button class="btn btn-sm btn-success float-right" type="submit">Submit</button>
        </div>
      </div>
    </div>


  </div>
</div>