
<section class="products section--padding2">
  <!-- start container -->
  <div class="container">
    <!-- start .row -->
    <div class="row">
      <!-- start .col-md-3 -->
      <div class="col-lg-3">
        <!-- start aside -->
        <aside class="sidebar product--sidebar">
          <div class="sidebar-card card--category">
            <a class="card-title" href="#collapse1" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapse1">
              <h4>
                Categories
                <span class="lnr lnr-chevron-down"></span>
              </h4>
            </a>
            <div class="collapse show collapsible-content" id="collapse1">
              <ul class="card-content">
                <li *ngFor="let gender of genders">
                  <a (click)="getLinkForGender(gender?.id)">
                    <span class="lnr lnr-chevron-right"></span>
                    {{gender?.name}}
                    <span class="item-count">35</span>
                  </a>
                </li>

              </ul>
            </div>
            <!-- end /.collapsible_content -->
          </div>
          <!-- end /.sidebar-card -->

          <div class="sidebar-card card--category">
            <a class="card-title" href="#collapse2" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapse2">
              <h4>
                Products
                <span class="lnr lnr-chevron-down"></span>
              </h4>
            </a>
            <div class="collapse show collapsible-content" id="collapse2">
              <ul class="card-content">
                <li *ngFor="let product of products">
                  <a href="#">
                    <span class="lnr lnr-chevron-right"></span>
                    {{product?.name}}
                    <span class="item-count">35</span>
                  </a>
                </li>

              </ul>
            </div>
            <!-- end /.collapsible_content -->
          </div>
          <!-- end /.sidebar-card -->

          <div class="sidebar-card card--category">
            <a class="card-title" href="#collapse3" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapse3">
              <h4>
                Products Varieties
                <span class="lnr lnr-chevron-down"></span>
              </h4>
            </a>
            <div class="collapse show collapsible-content" id="collapse3">
              <ul class="card-content">
                <li *ngFor="let product of productLists">
                  <a href="#">
                    <span class="lnr lnr-chevron-right"></span>
                    {{product?.name}}
                    <span class="item-count">35</span>
                  </a>
                </li>

              </ul>
            </div>
            <!-- end /.collapsible_content -->
          </div>
          <!-- end /.sidebar-card -->
        </aside>
        <!-- end aside -->
      </div>
      <!-- end /.col-md-3 -->
      <!-- start col-md-9 -->
      <div class="col-lg-9">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <!-- start .single-product -->
            <div class="product product--card product--card-small">

              <div class="product__thumbnail">
                <img src="../../assets/images/p1.jpg" alt="Product Image">
                <div class="prod_btn">
                  <a href="single-product.html" class="transparent btn--sm btn--round">More Info</a>
                  <a href="single-product.html" class="transparent btn--sm btn--round">Live Demo</a>
                </div>
                <!-- end /.prod_btn -->
              </div>
              <!-- end /.product__thumbnail -->

              <div class="product-desc">
                <a href="#" class="product_title">
                  <h4>Finance and Consulting Business Theme</h4>
                </a>
                <ul class="titlebtm">
                  <li>
                    <img class="auth-img" src="../../assets/images/auth3.jpg" alt="author image">
                    <p>
                      <a href="#">AazzTech</a>
                    </p>
                  </li>
                  <li class="out_of_class_name">
                    <div class="sell">
                      <p>
                        <span class="lnr lnr-cart"></span>
                        <span>27</span>
                      </p>
                    </div>
                    <div class="rating product--rating">
                      <ul>
                        <li>
                          <span class="fa fa-star"></span>
                        </li>
                        <li>
                          <span class="fa fa-star"></span>
                        </li>
                        <li>
                          <span class="fa fa-star"></span>
                        </li>
                        <li>
                          <span class="fa fa-star"></span>
                        </li>
                        <li>
                          <span class="fa fa-star-half-o"></span>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>

              </div>
              <!-- end /.product-desc -->

              <div class="product-purchase">
                <div class="price_love">
                  <span>$15</span>
                </div>
                <a href="#">
                  <span class="lnr lnr-book"></span>Plugin
                </a>
              </div>
              <!-- end /.product-purchase -->
            </div>
            <!-- end /.single-product -->
          </div>
          <!-- end /.col-md-4 -->
        </div>
      </div>
      <!-- end /.col-md-9 -->
    </div>
    <!-- end /.row -->

    <div class="row">
      <div class="col-md-12">
        <div class="pagination-area categorised_item_pagination">
          <nav class="navigation pagination" role="navigation">
            <div class="nav-links">
              <a class="prev page-numbers" href="#">
                <span class="lnr lnr-arrow-left"></span>
              </a>
              <a class="page-numbers current" href="#">1</a>
              <a class="page-numbers" href="#">2</a>
              <a class="page-numbers" href="#">3</a>
              <a class="next page-numbers" href="#">
                <span class="lnr lnr-arrow-right"></span>
              </a>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <!-- end /.row -->
  </div>
  <!-- end /.container -->

</section>
<!--================================
    END PRODUCTS AREA
=================================-->
<!--================================
    START CALL TO ACTION AREA
=================================-->
<section class="call-to-action bgimage">
  <div class="bg_image_holder">
    <img src="../../assets/images/calltobg.jpg" alt="">
  </div>
  <div class="container content_above">
    <div class="row">
      <div class="col-md-12">
        <div class="call-to-wrap">
          <h1 class="text--white">Ready to Join Our Marketplace!</h1>
          <h4 class="text--white">Over 25,000 designers and developers trust the MartPlace.</h4>
          <a href="#" class="btn btn--lg btn--round btn--white callto-action-btn">Join Us Today</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================================
    END CALL TO ACTION AREA
=================================-->
